<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/about.js"></script>
    </head>
    <body>
        {{> header}}
        
        <img src="/img/abts.png"><br>
        
        {{> footer}}
    </body>
</html>