<html>

    <head>
        <title>Weather</title>
        <link href="https://fonts.googleapis.com/css?family=Bebas Neue" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header class="header">
             <div class="logo-box">
                 <img src="img/a.png" class="logo">
             </div>
             <div class="text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary-main">Weather</span>
                    <sapn class="heading-primary-sub">Analyze your surrounding</sapn>
                </h1>
                <form>
                    <input type="text" id="location" name="address" placeholder="Enter your city"><br>
                    <a href="#" class="btn btn-white" >Search</a>
                        {{!--  --}}
                </form>
                
                
             </div>
             <div class="location-details" >
                    <p id="message-1"></p>
                    <p id="message-2"></p>
            </div>
             <script src="/js/aboutjs.js"></script>
             
        </header>
        
    
    </body>
    
</html>